{% extends 'layout.html' %}
  
{% block body_content %}
<h4 style="text-align: center;">Studies have proven that different music has a different effect on mood 
    and concentration depending on your personality.</h4>
    <br>
    <br>
    <h4 style= "text-align: center;">The music has to be without words, purely instrumental.</h4>

    <br>
    <br>

    <h4 style= "text-align: center;">This application is designed to let you choose your own music and save it and view it whenever you want. </h4>

{% endblock %}
