{% extends 'layout.html' %}


{% block body_content %}
<nav>
    <a href="{{ url_for('extravert') }}">Add more</a>
</nav>
<br>
<h2>Your Songs</h2>
<br>
{% with messages = get_flashed_messages() %}
                {% if messages %}
                        {% for message in messages %}
                                {{ message }}
                        {% endfor %}
                {% endif %}
{% endwith %}
{% for song in songs %}
        <hr>
        <h4>{{ song.title }}</h4>
        {% if song.title.errors %}
                <div class="error">
                {% for error in song.title.errors %}
                        <span>{{ error }}</span>
                {% endfor %}
        </div>
        {% endif %}
            
        <small>By: {{ song.artist}}</small>
        {% if song.artist.errors %}
                <div class="error">
                {% for error in song.artist.errors %}
                        <span>{{ error }}</span>
                {% endfor %}
                </div>
        {% endif %}
        <br>
        <small>Genre: {{ song.genre }}</small>
        {% if song.genre.errors %}
                <div class="error">
                {% for error in song.genre.errors %}
                        <span>{{ error }}</span>
                {% endfor %}
                </div>
        {% endif %}
        <br>
        <small>Instruments: {{ song.instrument }}</small>
        {% if song.instrument.errors %}
                <div class="error">
                {% for error in song.instrument.errors %}
                        <span>{{ error }}</span>
                {% endfor %}
                </div>
        {% endif %} 
        <br>
        {% if song.link %}
                        <small>Link:</small><br>
                        <small>{{ song.link }}</small><br>
                        <iframe id="ytplayer" type="text/html" width="640" height="360" src="https://youtube.com/embed/{{song.link}}"></iframe>
                       
        
                        
                        {% if song.link.errors %}
                                <div class="error">
                                {% for error in song.link.errors %}
                                        <span>{{ error }}</span>
                                {% endfor %}
                        {% endif %}
                                </div>
        {% else %}
                <small>Link: 'Not Supplied'</small>
        {% endif %} 
        <br>
        <small>Date: {{ song.date }}</small>
        <br>
            <a href=/delete/{{song.id}}>Delete</a>
            <a href='/update/{{song.id}}'>Update</a>

{% endfor %}
{% endblock %}