{% extends 'layout.html' %}
  
{% block body_content %}
<br>
<nav>
    <a href="{{ url_for('introvert_add') }}">See your Songs</a>
</nav>
<br>
<h2>+Add a Song</h2>
<br>
    
    <form  method= 'POST' action= ''>
        <p>
            {{ form.hidden_tag() }}
            {{ form.title.label }}<br>
            {{ form.title }}
        </p>
        <p>
            {{ form.artist.label }}<br>
            {{ form.artist }}
        </p>
        <p>
            {{ form.genre.label }}<br>
            {{ form.genre }}
        </p>
        <p>
            {{ form.instrument.label }} <br>
            {{ form.instrument }}
        </p>
        <p>
            {{ form.link.label }} <br>
            Enter only Video ID of youtube video (after '=')<br>
            'https://youtube.com/embed/'<br>
            {{form.link}}
        </p>
            {{ form.submit }}
    </form>
    
    {% endblock %}