[Unit]
Description=Sfia1 Project

[Service]
User=jenkins
ExecStart=/var/lib/jenkins/workspace/sfia1_project/script/after_installation.sh

[Install]
WantedBy=multi-user.target