[Unit]
Description=Sfia1 Project

[Service]
User=jenkins
ExecStart=/var/lib/jenkins/workspace/project_freestyle/script/installation.sh

[Install]
WantedBy=multi-user.target